@using Application.Entity.Model
@model Users

<body>
	<form asp-controller="Users" asp-action="GetUser">
		<label asp-for="Id"></label>
		<input type="number" asp-for="Id" class="input-group"/>
		<input type="hidden" asp-for="CreatedAt" />
		<button class="btn btn-primary">Submit</button>
		<a href="/Home/Index" class="btn btn-primary">Back</a>
	</form>
</body>