@using Application.Entity.Model
@model Users

@{
    ViewData["Title"] = "New User";
}
<div class="container mt-5">
    <h2>Create New User</h2>
    <hr />
    <form asp-action="CreateUser" asp-controller="Users" method="post" class="form">
        <div class="form-group">
            <label asp-for="Username" class="form-label"></label>
            <input asp-for="Username" class="form-control" placeholder="Enter your username" required />
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>
        <br />
        <div class="form-group">
            <label asp-for="Email" class="form-label"></label>
            <input asp-for="Email" class="form-control" type="email" placeholder="Enter your email" required />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
