@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<h3>Inventory Management System</h3>
<br />
<a class="btn btn-success" href="/Product/Index">Product Dashboard</a>
<a class="btn btn-success" href="/Product/AddProduct">Add Product</a>
<br />

<h3>User Management System</h3>
<br />
<a class="btn btn-success" href="/Users/CreateUser">New User</a>
<a class="btn btn-success" href="/Users/GetUser">Get User With ID</a>

<br />
<h3>Blog Platform</h3>
<br />
@* <a class="btn btn-success" href="https://localhost:7114/swagger/index.html">Blog Platform</a> *@